<form action="/auth/registro" method="post">
<h3>Registro</h3>
    <input type="email" name="email" placeholder="ESCRIBA SU EMAIL">
    <input type="password" name="password" placeholder="ESCRIBA SU PASSWORD">
    <button type="submit">Guardar</button>
</form>