<a href="/propiedad/listar/0">IR A ACTUALIZAR PROPIEDADES</a>
</br>
<a href="/garaje">IR A CREAR GARAJES</a>
</br>
<a href="/bano">IR A CREAR BAÑOS</a>
</br>
<a href="/tipodePropiedad">IR A CREAR TIPO DE PROPIEDAD</a>
</br>
<a href="/tipoDeInmueble">IR A CREAR TIPO DE INMUEBLE</a>
</br>
<a href="/agente">IR A CREAR AGANTES</a>
</br>
<a href="/propiedad/crear">crear propiedad</a>