<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/libs/font-awesome/css/font-awesome.css' />
</head>

<body>

   {{> logo}}
    {{> nav}} 
    {{{body}}}




{{> asociados}}
    
   <div class="footer">(C)INMOBILIARIA All registed reserved 2017</div>

    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/javascripts/app/propiedad/crear.js"></script>
</body>

</html>